.reservation-container{
  margin: 10px 40px 10px 40px;
  border: $green solid 2px;
  border-radius: 25px;
  padding: 20px;
  background-color: $white;
  color: $black;
}

.reservation-items{
  display: flex;
  justify-content: space-between;

  i {
    color: $green;
    font-size: 24px;
  }
}

.reservation-item{
  display: flex;
  padding: 10px;

  i {
    color: $green;
    font-size: 24px;
    margin-right: 10px;
  }
}

.listings-container{
  margin: 10px 40px 10px 40px;
}

.listings-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.listing-card {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  a {
    text-decoration: none;
    color: $white;
  }
}

.lower-container {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  border: $green solid 2px;
  border-radius: 5px;

  .info-container{
    justify-content: space-between;
    display: flex;
    width: 100%;
    p {
      margin-bottom: 0;
      padding: 5px;
    };
  }

  .btn {
    font-size: small;
    opacity: 0.4;
    height: 60%;
    padding: 0px 5px 0px 5px;
  }
}
