<div class="title-advantage">
<h3>A new way to make your music happen<span id="dot-color">.</span></h3>
</div>
<div class="cards">
  <div class="advantage-container">
    <div class="card-category" style="background-image: url(https://cdn-icons-png.flaticon.com/512/4775/4775908.png)">
    </div>
    <h2>Discover<span id="dot-color">.</span></h2>
    <p>Find the <b>hypest</b> studios on earth and meet the <b>coolest</b> people.</p>
  </div>
  <div class="advantage-container">
    <div class="card-category" style="background-image: url(https://cdn-icons-png.flaticon.com/512/5692/5692221.png)">
    </div>
    <h2>Rent<span id="dot-color">.</span></h2>
    <p>Stop wasting free studio time and <b>invest</b> it into other aspiring musicians.</p>
  </div>
  <div class="advantage-container">
    <div class="card-category" style="background-image: url(https://cdn-icons-png.flaticon.com/512/1019/1019709.png)">
    </div>
    <h2>Earn<span id="dot-color">.</span></h2>
    <p>Set your price and make it <b>bling</b> while <b>recording</b>.</p>
  </div>
</div>
