<div class="banner">
  <div class="text-white text-center rgba-stylish-strong py-5 px-4">
    <div class="py-5">
      <h1 class="card-title h2 my-4 py-2">ShareStudio<span id="dot-color">.</span></h1>
      <h2 class="mb-4 pb-2 px-md-5 mx-md-5">join the global sharing creative community</h2>
    </div>

    <%= render 'shared/searchbar' %>

  </div>
</div>
