<div class="credentials-container">
  <h3>As seen on<span>:</span></h3>
  <ul class="credentials-list">
    <li class="credentials-item">
      <img class="credentials-img" src="https://upload.wikimedia.org/wikipedia/commons/e/ec/Vice_Logo.png" alt="vice">
    </li>
    <li class="credentials-item">
      <img class="credentials-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/41/BBC_Logo_2021.svg/800px-BBC_Logo_2021.svg.png" alt="bbc">
    </li>
    <li class="credentials-item">
      <img class="credentials-img" src="https://miro.medium.com/max/1400/1*T3ceWmH8vJjC-2bxJnJcgg.png" alt="product-hunt">
    </li>
  </ul>
</div>
