<div class="banner-searchbar">
  <div class="container">
    <div class="row">
      <div class="col boite">
        <form class="form-floating">
          <input type="email" class="form-control" id="floatingInputValue" placeholder="choose a location" value="choose a location">
          <label for="floatingInputValue">Input with value</label>
        </form>
      </div>
      <div class="col boite">
        <form class="form-floating">
          <input class="form-control" type="date" placeholder="dd-mm-yyyy" name="checkin" />
        </form>
      </div>
      <div class="col boite">
        <form class="form-floating">
          <input type="email" class="form-control" id="floatingInputValue" placeholder="select the duration" value="select a duration">
          <label for="floatingInputValue">Input with value</label>
        </form>
      </div>
      <div class="col boite">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </div>
  </div>
</div>
