<div class="search-form-control form-group">
  <input class="form-control string required" type="text" placeholder="Where do you want to find a studio?" name="search[query]" id="search_query" />
  <button name="button" type="submit" class="btn btn-flat">
    <%# button redirect to all studio for nor - Alexie %>
    <i href="/studios" class="fas fa-search"></i> Search
  </button>
</div>
