.button {
  color: $white;
  background: $black;
  border: 1px solid $black;
  border-radius: 10px;
  padding: 5px 10px;
  gap: 10px;
  border-radius: 50px;
  opacity: 1;
  transition: opacity 0.3s ease;
  margin-right: 10px;
}
