.credentials-container {
  text-align: center;
  margin-bottom: 20px;

  span {
    color: $green;
  }
}

.credentials-list {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.credentials-img {
  height: 80px;
}
