<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-black">
    <h1>Explore Our Collection Of Studios</h1>
  </div>
</div>
<div class="container py-5">
  <div class="d-flex align-items-center justify-content-around mb-3">
    <%= link_to "Create a new studio", new_studio_path, class: "btn btn-dark" %>
  </div>
  <div class="row">
    <% @studios.each do |studio| %>
      <div class="co-12 col-sm-6 col-md-4">
        <%= link_to studio_path(studio), class: "text-decoration-none" do %>
          <div class="card-category" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1518972559570-7cc1309f3229?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80)">
            <%= studio.name %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
